form#EditItemForm.mt-5
    fieldset
        legend.text-center.text-secondary Edit Gem
        input(type="hidden", value=gem.id, name="ID")
        .form-group.row
            label(for="Name").col-sm-3.col-form-label Name
            .col-sm-9
                input(type="text", name="Name", value=gem.name, readonly).form-control
        .form-group.row
            label(for="Price").col-sm-3.col-form-label Price
            .col-sm-9
                input(type="number", name="Price", value=gem.price).form-control
        .form-group.row
            label(for="Description").col-sm-3.col-form-label Description
            .col-sm-9
                input(type="text", name="Description", value=gem.description).form-control
        .form-group.row
            label(for="ImageURL").col-sm-3.col-form-label Image URL
            .col-sm-9
                input(type="text", name="ImageURL", value=gem.imageUrl).form-control
        .form-group.row.justify-content-center.text-center.mt-4
            .col-sm-3
                button(type="button").btn.btn-info#UpdateItem Update Item