extends layouts/layout.pug

block content
    script(src="scripts/cart.js")
    h2.mt-5.ml-5 You have #{cartCount} items in your shopping cart
    input(type="hidden", id="cartUpdated", name="cartUpdated", value="false")    
    .bg-secondary.col-lg-10.offset-lg-1    
        .card.border-success.col-lg-12.d-none#CartUpdatedNotification
            .card-body.text-center
                p.card-title.text-muted Changes Have Been Made to Your Cart                
                button(type="button").btn.btn-outline-success.btn-sm#UpdateCart Update Cart

        each gem in gems   
            .card.col-lg-12
                .row.no-gutters
                    .col-lg-2
                        img(src=gem.imageUrl).shopping-cart-item__image
                    .col-lg-5.text-center
                        h3.text-info.mt-4.lead #{gem.name}
                        p.text-secondary.mt-1 Price: #{gem.price}
                        p.text-secondary.mt-3 #{gem.description}                        
                    .col-lg-2.text-center
                        p.text-secondary.mt-4 Quantity Selected
                        input(type="hidden", name=gem.name + "-PerPrice", value=gem.price)
                        input(type="hidden", name="id", value=gem.id)
                        input(type="hidden", name=gem.id, value=gem.name)
                        select(name=gem.name + "-gemQuantity").form-control-sm
                            option(value="1", selected = gem.cartItem.quantity == 1 ) 1
                            option(value="2", selected = gem.cartItem.quantity == 2 ) 2
                            option(value="3", selected = gem.cartItem.quantity == 3 ) 3
                            option(value="4", selected = gem.cartItem.quantity == 4 ) 4
                            option(value="5", selected = gem.cartItem.quantity == 5 ) 5
                            option(value="6", selected = gem.cartItem.quantity == 6 ) 6
                            option(value="7", selected = gem.cartItem.quantity == 7 ) 7
                    .col-lg-3.text-center
                        p.text-secondary.mt-4 Total Price          
                        h3.text-info.mt-2.lead(class=gem.name + "-TotalPrice") #{(gem.price * gem.cartItem.quantity).toFixed(2)}          
                     
